/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    background-color: #006CFA;
    border: 1px solid white;
    text-align: center;
    padding: 20px;
    color: white;
}
.nested-box {
    background-color: #00E165;
    color: white;
    border: 1px solid #006CFA;
    padding: 10px;
}
.row-6 {
    margin-bottom: 20px;
}